seed = 0
n_clusters = 20
eplison = 0.1
max_iter = 200
weight_ = 0.5

[data]
normalization = "quantile"
path = "data/helena"

[model]
d_in = 784
d_out = 256
n_blocks = 4
d_block = 128
d_hidden = 256
dropout1 = 0.1
dropout2 = 0.1


[training]
batch_size = 128
eval_batch_size = 8192
lr = 0.0001
n_epochs = 200
optimizer = "adamw"
patience = 16
weight_decay = 1e-5
